
# Ignore build dir
build
build/**/*

# Ignore deploy dir
deploy
deploy/**/*

# Ignore generated docs
doc/generated/**/*

# Ignore temp joe files
*~
*.rld
*.qld

# Ignore eclipse files
.project
.cproject
.settings